.container {
  min-height: 100vh;
  padding: 0 1rem;
}

.backtolinks {
  margin: 0;
  text-align: center;
  cursor: pointer;
  font-size: medium;
}

.IoIosArrowBack {
  display: inline-block;
}

.catImage {
  display: block;
  margin: 2rem 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.catImageBorder {
  border-radius: 15px;
}
.catName {
  margin: 0;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  ・
  ・
  ・
}
