.container {
  min-height: 100vh;
  padding: 0 1rem;
  /* margin: auto; */
  /* padding: 0 0.5rem; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* display: flex; */
}
.backtolinks {
  text-align: center;
  cursor: pointer;
}

.IoIosArrowBack {
  display: inline-block;
}

.catImage {
  display: block;
  margin
  margin: 2rem 0;
  text-align: center;
  /* display: none; */
}

.catName {
  margin: 0;
}
