.container {
  min-height: 100vh;
  position: relative; /*←相対位置*/
  padding-bottom: 30px; /*←footerの高さ*/
  box-sizing: border-box; /*←全て含めてmin-height:100vhに*/
}

.backtolinks {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: medium;
}

.IoIosArrowBack {
  display: inline-block;
}

.icon {
  display: block;
  margin: 0 auto 0;
  border-radius: 9999px;
  width: 60px;
  height: 60px;
}

.catImage {
  display: block;
  margin: 2rem 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.catImageBorder {
  border-radius: 15px;
  width: 256px;
  height: 144px;
}
.catName {
  margin: 0;
  font-weight: normal;
}

.border {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;

  border: 2px solid #eaeaea;
  border-radius: 25px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 80%;
}

.SnsShareiconGridIndex {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.SnsShareiconGridPhotos {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .icon {
    width: 150px;
    height: 150px;
    margin-bottom: 0.5rem;
  }
  .aTagGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .border {
    width: 40%;
  }

  .catImage {
    margin: 1rem;
  }

  .catImageGrid {
    display: flex;
    flex-wrap: wrap;
  }

  .SnsShareHighresophotoMargin {
    margin-bottom: 3rem;
  }
}

.title {
  font-size: 2rem;
}

.discription {
  font-size: 1.5rem;
  font-weight: normal;
}
