.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* index page ではした方向へのスクロールは制限したくない。 */
  /* height: 100vh; */
}
