.title {
  text-align: center;
  margin: 1rem auto;
  line-height: 1.15;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .title {
    margin: 2rem 1rem 1rem 1rem;
    font-size: 5rem;
  }
}
