.image {
  width: 1px;
  height: 21px;
  fill: brown;
  /* color: brown; */
}

.image:hover,
.image:focus,
.image:active {
  color: rgb(255, 212, 219);
  border-color: rgb(255, 212, 219);
  cursor: pointer;
}